<h1 class='home-title'><strong>Cognizant</strong> <br> [citizen, consumer, being]</h1>
<br>
<h3 class='home-subtitle'>Dedicated to ideas for enhancing and promoting cognizant living...</h3>
<br>

<div class='home-body'> Intro Video Here </div>

<br><br>

<div class='home-body'>
  <h4>In a world where we are constantly faced with choices, it can be difficult to parse through all the noise and convenience and make the right choices that are best for yourself, your community and our planet.</h4>
  <br>
  <h4>Cognizant is a place for sharing ideas that will make understanding those decisions clearer and make taking actions easier and more convenient.</h4>
</div>
<br>